body {
    font-family: Arial, sans-serif;
    background-color: rgb(207, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-form {
    border: 1px solid rgba(0, 0, 0, 0.514);
    background: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.3rem;
}
.input-form textarea{
    margin: 20px 10px;
    font-weight: 500;
    font-size: 1.3rem;
    border: .5px solid black;

}
/* Green color for positive sentiment */
.positive {
    color: green;
}

/* Red color for negative sentiment */
.negative {
    color: red;
}

.input-form button{
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color:rgb(109, 64, 254) ;
}
.input-form button:hover{
    background-color:rgba(108, 64, 254, 0.839) ;
}
.result {
    margin-top: 20px;
    font-weight: bold;
}
.tweet-list {
    list-style: none;
    padding: 0;
}
.tweet-item {
    background: #f4f4f4;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
