<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add any additional CSS styles specific to the /analysis page here -->
</head>
<body>
    <div class="container">
        <h1 class="analysis_result">Sentiment Analysis Result: 
            <span class="{% if sentiment == 'Positive' %}positive{% elif sentiment == 'Negative' %}negative{% endif %}">
               {{ sentiment }}
            </span></h1>
    </div>
</body>
</html>
